version: '3'

services: 
    db:
        image: postgres
        environment: 
            - POSTGRES_DB=postgres
            - POSTGRES_USER=postgres
            - POSTGRES_PASSWORD=postgres
        volumes:
            - postgres_data:/var/lib/postgresql/data/
        ports: 
            - "5432:5432"
    web:
        build: .
        command: python manage.py migrate
        command: python manage.py runserver
        volumes: 
            - .:/shorty
        ports: 
            - "8000:8000"
        depends_on: 
            - db
volumes:
  postgres_data: