apns2==0.7.1
asgiref==3.3.1
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
cryptography==3.3.1
Django==3.1.4
django-extensions==3.1.0
django-push-notifications==2.0.0
djangorestframework==3.12.2
h2==2.6.2
hpack==3.0.0
http-ece==1.1.0
hyper==0.7.0
hyperframe==3.2.0
idna==2.10
Markdown==3.3.3
py-vapid==1.7.1
pycparser==2.20
PyJWT==2.0.0
pytz==2020.4
pywebpush==1.11.0
requests==2.25.1
six==1.15.0
sqlparse==0.4.1
urllib3==1.26.2
